body{
    background-image: url(bird.png);
    background-size: cover;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container-bartolomeo{
    width: 220px;
}
.container-bartolomeo img{
    width: 100%;
}
.container-esophagus{
    width: 220px;
}
.container-esophagus img{
    width: 100%;
}
